* {
  user-select: none;
}

html, body {
  overflow: hidden;
  background-color: #000;
}

body {
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

.dg {
  opacity: 0.9;
}

.dg .property-name {
  overflow: visible;
}

@font-face {
  font-family: 'iconfont';
  src: url('iconfont.ttf') format('truetype');
}

.bigFont {
  font-size: 150%;
  color: #8C8C8C;
}

.cr.function.appBigFont {
  font-size: 150%;
  line-height: 27px;
  color: #A5F8D3;
  background-color: #023C40;
}

.cr.function.appBigFont .property-name {
  float: none;
}

.cr.function.appBigFont .icon {
  position: sticky;
  bottom: 27px;
}

.icon {
  font-family: 'iconfont';
  font-size: 130%;
  float: right;
}

.twitter:before {
  content: 'a';
}

.github:before {
  content: 'b';
}

.app:before {
  content: 'c';
}

.discord:before {
  content: 'd';
}