#peercontainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#peercontainer form {
  width: 600px;
}
#peercontainer textarea {
  width: 100%;
  height: 200px;
}


#outgoing {
  width: 600px;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
}