body * {
  box-sizing: border-box;
}

.videocontainer {
  box-sizing: content-box;
  position: absolute;
  width: 215px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(149, 187, 248);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
  left: 10px;
  top: 10px;
  color: #fff;
}

.videobox, .canvasbox {
  width: 215px;
  height: 162px;
}

.canvasbox {
  position: absolute;
}

.trackbutton {
  width: 215px;
  margin-top: 10px;
  background-color: #3d3d3d;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.updatenote {
  padding: 12px;
  margin-top: 10px;
  background: #ff8800;
  color: #fff;
  width: 215px;
  border-radius: 5px;
  text-align: center;
}


